<div class="card shadow">
    <div class="modal-header">
        <h4 class="modal-title">
            Customer List
        </h4>
    </div>
    <div class="model-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"><i class="fa fa-user"></i></th>
                    <th scope="col">Total Vehicles Booked</th>
                    <th scope="col">Vehicles</th>
                </tr>
            </thead>
            <tbody *ngIf="randomUserObj">
                <tr *ngFor="let userBooking of currentlyRentedOut; index as i">
                    <th scope="row">{{i}}</th>
                    <td>{{userBooking.name | titlecase }}</td>
                    <td>{{userBooking.booked.length }}</td>
                    <td>
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-dark" id="dropdownBasic-{{i}}" ngbDropdownToggle>Vehicles</button>
                            <div ngbDropdownMenu attr.aria-labelledby="dropdownBasic-{{i}}">
                                <p ngbDropdownItem *ngFor="let vehicles of userBooking.booked;">{{vehicles.model}}</p>

                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>