<div class="container">
  <div class="d-flex justify-content-center">

    <div class="col">
      <!-- Heading: Logo + Nav -->
      <img class="rounded mx-auto d-block my-3" width="300"
        src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Star_Wars_Logo.svg">
      <ngb-tabset>
        <ngb-tab title="Currently Rented Out">
          <ng-template ngbTabContent>
            <!-- <span class="text-light">{{currentlyRentedOut|json}}</span> -->
            <app-currently-rented-out *ngIf="randomUserObj" 
            [randomUserObj]="randomUserObj" 
            [currentlyRentedOut]="currentlyRentedOut"
            ></app-currently-rented-out>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Rent A Vehicle">
          <ng-template ngbTabContent>
            <app-vehicle-selector *ngIf="randomUserObj && SWVehicleObj && SWStarShipObj" 
            [randomUserObj]="randomUserObj"
            [SWVehicleObj]="SWVehicleObj"
            [SWStarShipObj]="SWStarShipObj"
            (reservationEvent)="saveReservation($event)"
            ></app-vehicle-selector>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Add New Vehicle">
          <ng-template ngbTabContent>
              <app-add-new-vehicle
              (submitNewVehicle)="addNewVehicle($event)"
              ></app-add-new-vehicle>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

    </div>

  </div>
</div>